<div id="createPost" ng-controller="MasterController as master">
	<div class="col-sm-12">
		<div class="container">
			<div class="row">
				<form ng-submit="master.createPost()">
					<input type="text" class="minimal post-title" ng-model="master.blogData.title"placeholder="Title">
					<textarea name="" id="" class="minimal post-body" ng-model="master.blogData.body"placeholder="Write a post..."></textarea>
					<input type="submit" class="btn btn-default custbtn">
				</form>
			</div>
		</div>
	</div>
</div>


