<div id="login" ng-controller="MainController as login" >
	<div class="row">
		<div class="container">
			<section class="userLogin col-sm-8">
				<form ng-submit="login.logon()" class="col-sm-offset-6 col-sm-6" name="loginForm" novalidate>
					<h2>Login</h2>
					<div class="box col-sm-12">
						<div class="input-group">
							<span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username" aria-describedby="username" name="username" id="username" ng-model="login.loginData.username" required>
							</div>
						</div>
						

						<div class="input-group">
							<span class="input-group-addon" id="pwd"><i class="fa fa-lock"></i></span>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Password" aria-describedby="password" name="password" id="password" ng-model="login.loginData.password" required>
							</div>
						</div>
						<button type="submit" class="btn btn-md">Login</button>
					</div>
				</form>
			</section>
		</div>
	</div>
</div>