<div id="blogStream" ng-controller="BlogStreamController as stream">
	<div class="col-sm-12">
		<div class="container">
		<p ng-if="stream.loggedIn"><a ui-sref="create({userId: stream.feed._id})"><i class="fa fa-pencil-square-o"></i> Create Post</a></p>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<section class="post">
						<div ng-repeat="post in stream.feed.posts">
							<div class="row">
								<div class="col-sm-1">
									<div class="date">
										<div class="month"><b>{{post.date | date: 'MMM'}}</b>
										</div>
										<div class="day">{{post.date | date: 'd'}}</div>
										<div class="year">{{post.date | date: 'yyyy'}}</div>
									</div>
								</div>
								<div class="col-sm-11">
									<a ui-sref="post({blogId: post._id})" class="title"><h2><b>{{post.title}}</b></h2></a>
									<p class="author">by {{stream.feed.name}}</p>
									<div class="quick-look">
										<p>{{post.body}}</p>
									</div>
									<a ui-sref="post({blogId: post._id})" class="full">
										<p>Read More</p>
									</a>
								</div>
							</div>
						</div>

					</section>
				</div>
			</div>
			
	<div class="space">

	</div>
</div>