<div id="blogStream" ng-controller="BlogStreamController">
	<div class="col-sm-12">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<section class="post">
						<div class="row">
							<div class="col-sm-1">
								<div class="date">
									<div class="month"><b>jun</b>
									</div>
									<div class="day">25</div>
									<div class="year">2015</div>
								</div>
							</div>
							<div class="col-sm-11">
								<a ui-sref="post/1" class="title"><h2><b>Title of Blog Post</b></h2></a>
								<p class="author">by Kennet Postigo</p>
								<div class="quick-look">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda repellendus ea nulla ullam eius architecto atque eaque voluptas, sequi quisquam dolores nobis ducimus dignissimos, facere, quibusdam quasi molestiae necessitatibus qui.</p>
								</div>
								<a ui-sref="post/1" class="full">
									<p>Read More</p>
								</a>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="space">

	</div>
</div>