<div id="post" ng-controller="BlogPostController as post">
	<div class="col-sm-12">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<section class="article">
						<div class="row">
							<div class="col-sm-1">
								<div class="date">
									<div class="month"><b>{{post.blogData.date | date: 'MMM'}}</b>
									</div>
									<div class="day">{{post.blogData.date | date: 'd'}}</div>
									<div class="year">{{post.blogData.date | date: 'yyyy'}}</div>
								</div>
							</div>
							<div class="col-sm-11">
								<a ui-sref="post/1" class="title"><h1><b>{{post.blogData.title}}</b></h1></a>
								<p class="author">{{post.blogData.author.name}}</p>
								<div class="body-content">
									{{post.blogData.body}}
								</div>
								<a ui-sref="blog" class="home"><p>Go Back To Feed</p></a>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="space">

</div>